{% extends 'blog/plantilla_base.html' %}

{% block content %}

    <div class="post">
        {% if articulo.published_date %}
            <div class="date">
                <p>Publicado: {{ articulo.published_date|date:'d/m/Y'}}</p>
            </div>
        {% endif %}
        <h2>{{ articulo.title }}</h2>
        <p>{{ articulo.author}}</p>
        <p>{{ articulo.text|safe}}</p>
    </div>


    <h3>COMENTARIOS</h3>

    <a href="{% url 'comentar' articulo.id %}">Crear comentario</a>

    <ul>
        {% for comentario in comentarios %}
            <li>
                {{ comentario.nombre }} - Fecha: {{comentario.fecha }}

                <p>{{ comentario.comentario }}</p>

            </li>
        {% endfor %}

    </ul>


{% endblock %}
