{% extends 'blog/plantilla_base.html' %}

{% block content %}


    {% for articulo in articulos %}
            <div class="post">
            {% if articulo.published_date %}
                <div class="date">
                    <p>Publicado: {{ articulo.published_date|date:'d/m/Y'}}</p>
                </div>
            {% endif %}
                <h1><a href="articulo/{{articulo.id}}">{{ articulo.title }}</a></h1>
                <p>{{ articulo.author}}</p>
                <p>{{ articulo.text|truncatewords:4|slice:":-3" }}</p>
            </div>
    {% endfor %}

{% endblock %}
